@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Reggae+One&display=swap%27');

body{
}
#content{
    text-align: center;
    padding-top: 25%;
    color: white;
}

.homePageDiv{
    background-size: 100%;
    font-family: Oxygen, serif;
    background: url("https://images.pexels.com/photos/5965520/pexels-photo-5965520.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1080&w=1920") no-repeat center;
    min-height: 100vh;
}
#homepageButton{
    background-color: white;
}

#homepageButton:hover{
    color: black;
}

h1{
    font-weight: 700;
    font-size: 5em;
}
html{
    height: 100%;
}
hr{
    width: 400px;
}

