.addSchoolForm{
    width: 75%;
    margin-left: 12%;
    margin-top: 4%;
}

.addSchoolTitle{
    margin-top: 2%;
    font-size: 3rem;
}

h5{
    float: left;
}

.largeTextInput{
    width: 100%;
}

#submittedAlert{
    width: 100%;
    align-items: center;
}

#alertClose{
    margin-top: .5%;
}